h1 {
  font-size: 300%;
  font-style: normal;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 19px 0px;
  }

h2 {
  font-size: 164%;
  font-style: normal;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 19px 0px;
  }

h3 {
  font-size: 145%;
  font-style: normal;
  font-weight: normal;
  padding: 0px;
  margin: 0px 0px 16px 0px;
  }

  .shadow {
	-moz-box-shadow: 2px 0px 4px #000;
	-webkit-box-shadow: 1px 1px 1px #000;
	box-shadow: 1px 1px 1px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}